:root {
  /* COLOR VARIABLES */

  --swatch1-color: rgb(37, 156, 156);
  --swatch2-color: rgb(45, 81, 110);
  --swatch3-color: rgb(58, 103, 109);
  --swatch4-color: rgb(19, 60, 80);
  --accent-color: rgb(231, 172, 104);
  --black-color: rgb(9, 33, 45);
  --white-color: rgb(214, 223, 233);
  --highlight-color: rgb(70, 129, 112);
  --important-color: rgb(208, 116, 79);
  --bandage-color: rgb(192, 159, 128);

  /* /////////////////////////////////////////////////////////// */

  --body-color: var(--black-color);
  --containers-color: var(--swatch4-color);
  --headings-color: var(--swatch1-color);
  --headings2-color: var(--white-color);
  --dark-text-color: var(--black-color);
  --light-text-color: var(--white-color);
  --links-color: var(--white-color);
  /* --links2-color: var(--important-color); */
  --hover-links-color: var(--swatch1-color);
  /* --hover-links2-color: var(--highlight-color); */

  /* REM SIZES */

  /* PIXELS TO REM:
  Base # = 16px
==========================
Divide # of pixes by 16px:
48px / 16px = 3rem
20px / 16px = 1.25rem
*/

  --1px: 0.0625rem;
  --2px: 0.125rem;
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --25px: 1.5625rem;
  --35px: 2.1875rem;
  --48px: 3rem;
  --60px: 3.75rem;
  --80px: 5rem;
  --100px: 6.5rem;
  --200px: 12.5rem;
  --300px: 18.75rem;
  --400px: 25rem;
  --700px: 43.75rem;
  --1000px: 62.5rem;

  /* Calc Usage: */
  /* calc(var(--4px) + var(--2px)); */
  /* calc(var(--400px) + var(--200px) + var(--100px); */

  /* Negative numbers work-around?: */
  /* calc(var(--300px) * -1); */

  /* Animation Transitions 
  Usage: transition: var(--main-transition);
  */
  --main-transition: all 0.3s linear;
  --right-transition: right 0.3s ease-in-out;
}

/* GLOBALS */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* Body color in the layouts root-container */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;

  /* Get rid of the horizontal scroll-bar: */
  overflow-x: hidden;
}

/* Move Links to CSS layouts if they have a different color theme */
a {
  color: var(--links-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-links-color);
}

ul {
  list-style: none;
}

img {
  background-repeat: no-repeat;
  /* box-shadow: 0 0 5px var(--black-color); */
  height: auto;
  font-style: italic;
  /* shape-margin: calc(var(--10px) + var(--2px)); */
  max-width: 100%;
  vertical-align: middle;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

hr {
  border: var(--1px) dashed var(--swatch1-color);
  margin: var(--35px) auto;
  width: 50%;
}

h1,
h2 {
  color: var(--headings-color);
  /* text-wrap: balance; */
}

h3,
h4,
h5,
h6 {
  color: var(--headings2-color);
  /* text-wrap: balance; */
}
