/* MASONRY, CARD GRIDS UTILITIES */

.util-display-grid {
  display: grid;
  gap: 0 var(--25px);
}
.util-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.util-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.util-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.util-columns-bandage {
  grid-template-columns: 2fr 1fr 2fr;
}
