/* MARGIN SPACE */

.util-margin-auto {
  /* align-content: center; */
  margin: 0 auto;
  display: block;
}

.util-margin-inline {
  margin-inline: auto;
}

.util-margin-top {
  margin-top: var(--48px);
}

.util-margin-bottom {
  margin-bottom: var(--48px);
}

.util-margin-topbottom {
  margin: var(--48px) 0;
}

/* Not used */

/* .util-margin-rightleft {
  margin: 0 var(--48px);
} */

/* Not used */

/* .util-margin-all {
  margin-block: var(--48px);
} */
