/* HELPING UTILITIES */

.util-active {
  color: var(--accent-color);
}

.util-light-links {
  color: var(--links-light-color);
  
  &:hover,
  &:focus {
    color: var(--hover-dark-color);
  }
}

.util-dark-links {
  color: var(--links-dark-color);
}

.util-highlight,
mark {
  background-color: var(--highlight-color);
  padding: var(--4px);
}

/* .util-underline {
  text-decoration: underline;
  text-decoration-thickness: var(--4px);
  text-underline-offset: var(--4px);
} */

.util-float-right {
  float: right;
}

hr {
  border: var(--1px) dashed var(--swatch1-color);
  margin: var(--35px) auto;
  width: 50%;
}
