/* CONTAINERS UTILITIES */

/* 800px */
.util-sm-container {
  max-width: var(--800px);
}

/* 1048px */
.util-md-container {
  max-width: calc(var(--1000px) + var(--48px));
}

/* 1280px */
.util-lg-container {
  max-width: var(--1280px);
}

/* 1500px */
.util-xl-container {
  max-width: var(--1500px);
}
