/* HELPING UTILITIES */

.util-active {
  color: var(--color-accents);
}

.util-highlight,
mark {
  background-color: var(--color-highlights);
  padding: var(--4px);
}

/* .util-underline {
  text-decoration: underline;
  text-decoration-thickness: var(--4px);
  text-underline-offset: var(--4px);
} */

.util-float-right {
  float: right;
}

hr {
  border: var(--1px) dashed var(--color-swatch1);
  margin: var(--35px) auto;
  width: 50%;
}
