/* MASONRY, CARD GRIDS UTILITIES */

.util-display-grid {
  display: grid;
  gap: var(--10px);
}

.util-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.util-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Not used, uncomment in media queries if using */

/* .util-columns-4 {
  grid-template-columns: repeat(4, 1fr);
} */

.util-columns-bandage {
  grid-template-columns: 1fr fit-content(50%) 1fr;
}
