:root {
  /* COLOR VARIABLES */

  --white-color: hsl(270, 21%, 89%);
  --swatch1-color: hsl(259deg 57% 77%);
  --swatch2-color: hsl(259deg 29% 57%);
  --swatch3-color: hsl(258deg 29% 44%);
  --swatch4-color: hsl(260deg 33% 25%);
  --black-color: hsl(259deg 35% 19%);

  --accent-color: hsl(32deg 73% 66%);
  --highlight-color: hsl(52, 46%, 65%);
  --important-color: hsl(17deg 58% 56%);
  --bandage-color: hsl(29deg 34% 63%);

  /* /////////////////////////////////////////////////////////// */

  --body-color: var(--black-color);
  --containers-color: var(--swatch4-color);
  --headings-light-color: var(--white-color);
  --headings-dark-color: var(--swatch3-color);
  --light-text-color: var(--white-color);
  --dark-text-color: var(--black-color);
  --links-light-color: var(--white-color);
  --links-dark-color: var(--black-color);

  /* --hover-light-color: var(--important-color); */
  --hover-dark-color: var(--important-color);

  /* REM SIZES */

  /* PIXELS TO REM:
    Base # = 16px
  ==========================
  Divide # of pixes by 16px:
  48px / 16px = 3rem
  20px / 16px = 1.25rem
  */

  --1px: 0.0625rem;
  --2px: 0.125rem;
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --25px: 1.5625rem;
  --35px: 2.1875rem;
  --48px: 3rem;
  --60px: 3.75rem;
  --80px: 5rem;
  --100px: 6.5rem;
  --200px: 12.5rem;
  --300px: 18.75rem;
  --400px: 25rem;
  --700px: 43.75rem;
  --1000px: 62.5rem;

  /* Calc Usage: */

  /* calc(var(--4px) + var(--2px)); */

  /* calc(var(--400px) + var(--200px) + var(--100px); */

  /* Negative numbers work-around?: */

  /* calc(var(--300px) * -1); */

  /* Animation Transitions 
  Usage: transition: var(--main-transition);
  */
  --main-transition: all 0.3s linear;
  --right-transition: right 0.3s ease-in-out;
}

/* GLOBALS */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* Body color in the layouts root-container */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;

  /* Get rid of the horizontal scroll-bar: */
  overflow-x: hidden;
}

/* other links color and hover are in the utilities folder, helpers css file. */

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: var(--hover-dark-color);
  }
}

/* a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: inherit;
  font-size: larger;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 100px 0 0 0 var(--hover-dark-color);
    color: rgb(0, 0, 0);
  }
} */

ul {
  list-style: none;
}

img {
  background-repeat: no-repeat;

  /* box-shadow: 0 0 5px var(--black-color); */
  height: auto;
  font-style: italic;
  /* shape-margin: calc(var(--10px) + var(--2px)); */
  max-width: 100%;
  vertical-align: middle;
}

/* .img-fit {
  object-fit: cover;
} */

/* figure element used in other graphics, due to inline set */

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-light-color);

  /* text-wrap: balance; */
}
