/* BUTTONS */

.button {
  --button-bg: var(--bandage-color);
  color: var(--black-color);
  border-radius: var(--8px);
  background: var(--button-bg);
  cursor: pointer;

  font-size: large;

  font-weight: 600;
  margin-bottom: var(--10px);
  padding: calc(var(--16px) + var(--2px));
  text-align: center;
  /* text-wrap: nowrap; */
  transition: var(--main-transition);
  /* width: auto; */

  &:hover {
    background-color: var(--swatch4-color);
    color: var(--white-color);
    /* border-radius: var(--16px); */
  }
}

.button--dark {
  --button-bg: var(--swatch4-color);
  color: var(--light-text-color);

  &:hover {
    background-color: var(--swatch3-color);
  }
}

/* Large Button */
.button-belt {
  display: inline-block;
  width: 100%;
}
