/* BUTTONS */

.button {
  --button-bg: var(--bandage-color);
  color: var(--black-color);
  border-radius: var(--8px);
  background: var(--button-bg);
  cursor: pointer;
  display: inline-block;
  font-size: large;
  font-weight: 600;
  height: var(--80px);
  margin-bottom: var(--16px);
  padding: var(--16px);
  transition: var(--main-transition);
  width: auto;
  
  &:hover {
    background-color: var(--swatch4-color);
  color: var(--white-color);
    /* border-radius: var(--16px); */
  }
}

.button--dark {
  --button-bg: var(--swatch4-color);
  color: var(--light-text-color);

  &:hover {
    background-color: var(--swatch3-color);
  }
}


/* Large Button */
.button-belt {
  text-align: center;
  /* margin: 0 auto; */
  width: 100%;
}

