/* CARDS */

/* Cards are controlled by the util-grids UTILITIES */
.main-card,
.large-card {
  background-color: var(--swatch3-color);

  /* border-bottom: var(--2px) solid var(--swatch2-color); */
  border-radius: var(--10px);
  /* margin: var(--16px) auto; */
  /* padding: var(--10px); */
}

.main-card p:nth-child(even) {
  font-weight: bold;
  margin: var(--25px);
}

/* LARGE CARDS ^top large-card is stacked to the main-card */

/* .large-card {
  background-color: var(--white-color);
  border-radius: var(--8px);
  border-bottom: var(--8px) solid var(--swatch3-color);
  padding: var(--8px);
} */

.large-card:nth-child(even) {
  background-color: var(--swatch2-color);
}

/* FOOTER CARDS */

.footer-card {
  background-color: var(--swatch3-color);
  border-radius: var(--8px);

  /* border-bottom: var(--10px) solid var(--bandage-color); */

  /* color: var(--light-text-color); */
  padding: var(--16px);
}

/* .footer-card:nth-child(odd) {
  background-color: var(--accent-color);
} */

/* .footer-card p:nth-child(2) {
  margin-top: var(--25px);
  font-weight: bolder;
} */
