/* ANIMATIONS */

/* This 2 roll-over animation classes are for the social media icons inflating them: */
.rollover-anim {
  transition: var(--main-transition);

  &:hover {
    transform: scale(1.2);
    /* transform: rotate(1.0turn); */
    /* transform: scale(0.5) translate(-20%); */
  }
}

/* Sticky Nav Keyframes Animation on Scroll with opacity */

@keyframes stickyNav {
  100% {
    background-color: var(--swatch4-color);

    box-shadow: 0px 2px 0px 0px var(--swatch1-color);
    opacity: 0.9;
  }
}

/* Sticky Nav Keyframes Animation on Scroll 
Replaced opacity with the morphism (glass effect) rules
*/

/* @keyframes stickyNav {
  100% {
    -webkit-box-shadow: 0px 2px 0px 0px var(--swatch1-color);
            box-shadow: 0px 2px 0px 0px var(--swatch1-color);
    background-color: transparent;
    -webkit-backdrop-filter: blur(var(--25px));
            backdrop-filter: blur(var(--25px));
  }
} */

/* Animate on Scroll (experimental), 2 on Home Page only */

@keyframes appearOnScrollAnim {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.onScrollAnim {
  animation: appearOnScrollAnim linear;
  animation-timeline: view();
  animation-range: entry 0;
}
