/* Menus (Main) */
/* Link color is in the index.css*/
.main-menu nav,
.mobile-menu {
  display: flex;

  a {
    font-weight: 600;
    padding: var(--10px) var(--16px);
    transition: var(--main-transition);
  }
}

/* Negative numbers doesn't work with variables? */
/* Display Flex and Gap on top ^ */
.mobile-menu {
  background-color: var(--containers-color);
  flex-direction: column;
  height: auto;
  /* padding: var(--25px); */
  position: fixed;
  right: calc(var(--300px) * -1);
  text-align: center;
  top: var(--25px);
  transition: var(--right-transition);
  width: calc(var(--200px) + var(--35px));
  z-index: 10;
}
.mobile-menu.open {
  right: 0;
}
