/* PAGE 1 MEDIA QUERIES */

/* PIXELS TO REM:
  Base # = 16px
==========================
Divide # of pixes by 16px:
48px / 16px = 3rem
20px / 16px = 1.25rem
*/

/* 960px MEDIA QUERIES */

@media (max-width: 60rem) {
  .util-text-huge {
    font-size: var(--48px);
  }
}

/* 670px MEDIA QUERIES */

@media (max-width: 41.875rem) {
  .root-section {
    padding: var(--8px);
  }

  /* This are smaller than this font size: */
  /* .util-text-bold, */
  /* .util-text-medium, */
  .util-text-large,
  .util-text-huge {
    font-size: var(--35px);
    text-align: center;
  }

  p {
    font-size: 100%;
    padding: var(--10px);
  }

  .main-menu {
    display: none;
  }

  .hamburger-icon,
  .main-logo {
    display: block;
    margin-inline: auto;
  }

  .hero-section {
    background: url('/bb-hero1s.webp') no-repeat;
    background-size: var(--400px) calc(var(--300px) + var(--48px));
    background-position: bottom;
    height: var(--700px);
  }

  .hero-section .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero-section .button {
    margin-bottom: var(--16px);
    display: block;
  }

  /* Cards to stack */
  .util-columns-2,
  .util-columns-3,
  .util-columns-4,
  .util-columns-bandage {
    grid-template-columns: 1fr;
  }
}

/* 500px MEDIA QUERIES */

/* @media (max-width: 31.25rem) {

} */
