/* PAGE 2 MAIN LAYOUT */

/* SECTION CONTAINERS */

/* Some section containers have a background image or a -
 different background color. If they are commented out or MISSING,
 they are colored by the body background color or other section down below with
 its own color. */

.root-section {
  background-color: var(--body-color);
  color: var(--light-text-color);
}

.grid-all {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  /* grid-template-rows: repeat(6, 200px); */

  /* gap: 0px 0px; */
  grid-auto-flow: row;
  grid-template-areas:
    "headerArea headerArea headerArea headerArea headerArea headerArea"
    "navbarArea navbarArea navbarArea navbarArea navbarArea navbarArea"
    " heroArea heroArea heroArea heroArea heroArea heroArea"
    " sidebar1Area mainArea mainArea mainArea mainArea sidebar2Area"
    "villainArea villainArea villainArea villainArea villainArea villainArea"
    "footerArea footerArea footerArea footerArea footerArea footerArea"
    "footerArea2 footerArea2 footerArea2 footerArea2 footerArea2 footerArea2";
}

.header-section {
  grid-area: headerArea;
  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: 150vh;
  animation-range-end: 180vh;
  background-color: var(--containers-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* Try subgrid or auto */
  grid-template-rows: auto;

  /* gap: 10px 10px; */
  position: sticky;
  top: 0;
  z-index: 10;

  /* Place items end | start | center */
  place-items: center;
  grid-auto-flow: row;
  grid-template-areas: "logoArea headerSpacerArea userArea";
}

.logo-section {
  grid-area: logoArea;
}

.header-spacer {
  grid-area: headerSpacerArea;
}

.user-section {
  grid-area: userArea;
}

.navbar-section {
  /* background-color: var(--containers-color); */
  grid-area: navbarArea;
}

.hero-section {
  grid-area: heroArea;
  background: url("../../media/bad_bandages_hero.svg") no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 85vh;

  .hero-content {
    width: 50%;
  }
}

.main-section {
  grid-area: mainArea;
}

.sidebar1-section {
  grid-area: sidebar1Area;
  /* background-color: var(--swatch4-color); */
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  text-align: center;

  ul {
    background-color: var(--swatch3-color);
    /* border-radius: var(--8px); */
  }
}

.sidebar2-section {
  grid-area: sidebar2Area;
  /* background-color: var(--swatch4-color); */
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  text-align: center;

  ul {
    background-color: var(--swatch3-color);
    /* border-radius: var(--8px); */
  }
}

.villain-section {
  grid-area: villainArea;
  background-color: var(--containers-color);
}

.footer-section {
  grid-area: footerArea;
  /* background-color: var(--containers-color); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  /* gap: 0px var(--10px); */
  place-items: center;
  grid-auto-flow: row;
  grid-template-areas: "footSpaceArea1 footSpaceArea2 footSpaceArea3 footSpaceArea4";
}

.footer-section input[type="email"] {
  /* caret-color: var(--important-color); */
  margin: var(--10px) 0;
  padding: var(--6px);
  width: 100%;
  &:focus-within {
    background-color: var(--accent-color);
  }
}

.foot-space1 {
  grid-area: footSpaceArea1;
}

.foot-space2 {
  grid-area: footSpaceArea2;
  figure {
    display: inline;
  }
}

.foot-space3 {
  grid-area: footSpaceArea3;

  /* background-color: var(--bandage-color); */
}

.foot-space4 {
  grid-area: footSpaceArea4;
}

.footer-section2 {
  grid-area: footerArea2;
  /* background-color: var(--containers-color); */
  text-align: center;
}

/* ================================================================================= */
/***********************************MEDIA QUERIES*************************************/
/* ================================================================================= */

/* PAGE 2 MEDIA QUERIES */

/* PIXELS TO REM:
  Base # = 16px
==========================
Divide # of pixes by 16px:
48px / 16px = 3rem
20px / 16px = 1.25rem
*/

/* Navbar menu links */
@media (width >= 60rem) and (width <= 73.75rem) {
  .user-section nav a {
    padding: 6px;
  }
}

/* 960px MEDIA QUERIES */

@media (width <= 60rem) {
  .grid-all {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    /* gap: 0px 0px; */
    grid-auto-flow: column;
    grid-template-areas:
      "headerArea"
      "navbarArea"
      "heroArea"
      "mainArea"
      "sidebar1Area"
      "sidebar2Area"
      "villainArea"
      "footerArea"
      "footerArea2";
  }

  .header-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    /* gap: 20px; */
    grid-auto-flow: dense;
    grid-template-areas:
      "logoArea"
      "headerSpacerArea"
      "userArea";
    grid-area: headerArea;
  }

  .footer-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    /* gap: 0px 0px; */
    grid-auto-flow: dense;
    grid-template-areas:
      "footSpaceArea1"
      "footSpaceArea2"
      "footSpaceArea3"
      "footSpaceArea4";
    grid-area: footerArea;
  }

  .util-text-huge {
    font-size: var(--48px);
  }
}

/* 670px MEDIA QUERIES */

@media (width <= 41.875rem) {
  /* This are smaller than this font size: */

  /* .util-text-bold, */

  /* .util-text-medium, */
  .util-text-large,
  .util-text-huge {
    font-size: var(--35px);
    text-align: center;
  }

  p {
    font-size: 100%;
    padding: var(--10px);
  }

  .main-menu {
    display: none;
  }

  .hamburger-iconJS,
  .main-logo {
    display: block;
  }

  .hero-section {
    background: url("../../media/small-hero-villian.webp") no-repeat;
    background-size: var(--400px) calc(var(--300px) + var(--48px));
    background-position: bottom;
    height: var(--700px);
  }

  .hero-section .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero-section .button {
    margin-bottom: var(--16px);
    display: block;
  }

  /* Cards to stack */
  .util-columns-2,
  .util-columns-3,
  .util-columns-4,
  .util-columns-bandage {
    grid-template-columns: 1fr;
  }
}

/* 500px MEDIA QUERIES */

/* @media (max-width: 31.25rem) {
} */
