/* PAGE 1 MAIN LAYOUT */

/* SECTION CONTAINERS */

/* Some section containers have a background image or a -
 different background color. If they are commented out,
 they are colored by the body background color or other color. */

.root-section {
  color: var(--light-text-color);
}

.header-section {
  background-color: var(--containers-color);
  height: auto;

  /* height: calc(var(--100px) + var(--10px)); */
}

.navbar-section {
  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: 150vh;
  animation-range-end: 180vh;

  /* background-color: var(--containers-color); */
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Change the HTML .util-container-(size) class if changing this size. */
.navbar-section .util-container-large {
  display: flex;

  /* justify-content: space-evenly, center, space-around, space-evenly, right; */
  justify-content: right;
  padding-right: var(--100px);

  /* align-items: center; */
}

.hero-section {
  background: url("../../media/hero.png") no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: bottom;
  height: 85vh;

  .hero-content {
    width: 50%;
  }
}

.main-section {
  background-color: var(--containers-color);
  height: auto;
}

.villain-section {
  background-color: var(--containers-color);
  /* height: auto; */
}

.footer-section {
  text-align: center;
  padding-top: var(--48px);
}

/* ================================================================================= */
/***********************************MEDIA QUERIES*************************************/
/* ================================================================================= */

/* PAGE 1 MEDIA QUERIES */

/* PIXELS TO REM:
  Base # = 16px
==========================
Divide # of pixes by 16px:
48px / 16px = 3rem
20px / 16px = 1.25rem
*/

/* 960px MEDIA QUERIES */

@media (width <= 60rem) {
  .util-text-huge {
    font-size: var(--48px);
  }
}

/* 670px MEDIA QUERIES */

@media (width <= 41.875rem) {
  .root-section {
    padding: var(--8px);
  }

  /* This are smaller than this font size: */

  .util-text-large,
  .util-text-huge {
    font-size: var(--35px);
    text-align: center;
  }

  p {
    font-size: 100%;
    padding: var(--10px);
  }

  .main-menu {
    display: none;
  }

  .hamburger-iconJS,
  .main-logo {
    display: block;
    margin-inline: auto;
  }

  .hero-section {
    background: url("../../media/hero-small.png") no-repeat;
    background-size: var(--400px) calc(var(--300px) + var(--48px));
    background-position: bottom;
    height: var(--700px);

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin-top: var(--35px); */
      width: 100%;
    }
  }

  .button {
    display: block;
  }

  /* Cards to stack */
  .util-columns-2,
  .util-columns-3,
  /* .util-columns-4, */
  .util-columns-bandage {
    grid-template-columns: 1fr;
  }
}

/* 440px MEDIA QUERIES */

/* @media (max-width: 440px) {

} */
