/* PAGE 2 MAIN LAYOUT */

/* SECTION CONTAINERS */

/* Some section containers have a background image or a -
 different background color. If they are commented out or MISSING,
 they are colored by the body background color or other section down below with
 its own color. */

.root-section {
  background-color: var(--body-color);
  color: var(--light-text-color);
}

.grid-all {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  /* grid-template-rows: repeat(6, 200px); */
  /* gap: 0px 0px; */
  grid-auto-flow: row;
  grid-template-areas:
    'headerArea headerArea headerArea headerArea headerArea headerArea'
    'navbarArea navbarArea navbarArea navbarArea navbarArea navbarArea'
    ' heroArea heroArea heroArea heroArea heroArea heroArea'
    ' sidebar1Area mainArea mainArea mainArea mainArea sidebar2Area'
    'villainArea villainArea villainArea villainArea villainArea villainArea'
    'footerArea footerArea footerArea footerArea footerArea footerArea';
}

.header-section {
  grid-area: headerArea;
  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: 150vh;
  animation-range-end: 180vh;
  background-color: var(--containers-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Try subgrid or auto */
  grid-template-rows: auto;
  /* gap: 10px 10px; */
  position: sticky;
  top: 0;
  z-index: 10;
  /* Place items end | start | center */
  place-items: center;
  grid-auto-flow: row;
  grid-template-areas: 'logoArea headerSpacerArea userArea';
}
.logo-section {
  grid-area: logoArea;
}
.header-spacer {
  grid-area: headerSpacerArea;
}
.user-section {
  grid-area: userArea;
}

.navbar-section {
  /* background-color: var(--containers-color); */
  grid-area: navbarArea;
}

.hero-section {
  grid-area: heroArea;
  background: url('/bad_bandages2_hero.webp') no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 85vh;
}
.hero-section .hero-content {
  width: 50%;
}

.main-section {
  grid-area: mainArea;
}

.sidebar1-section nav,
.sidebar2-section nav {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  text-align: center;
}
.sidebar1-section {
  grid-area: sidebar1Area;
  /* background-color: var(--swatch3-color); */
}
.sidebar2-section {
  grid-area: sidebar2Area;
  /* background-color: var(--swatch3-color); */
}

.villain-section {
  grid-area: villainArea;
}

.footer-section {
  grid-area: footerArea;
  background-color: var(--swatch4-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* gap: 0px var(--10px); */
  place-items: center stretch;
  grid-auto-flow: row;
  grid-template-areas: 'footSpaceArea1 footSpaceArea2 footSpaceArea3 footSpaceArea4';
}
.foot-space1 {
  grid-area: footSpaceArea1;
}
.foot-space2 {
  grid-area: footSpaceArea2;
}
.foot-space3 {
  grid-area: footSpaceArea3;
  /* background-color: var(--bandage-color); */
}
.foot-space4 {
  grid-area: footSpaceArea4;
}
.footer-section input[type='email'] {
  width: 100%;
  padding: var(--6px);
  border: var(--4px) solid var(--accent-color);
  border-radius: var(--8px);
  margin: var(--10px) 0;
}
