/* PAGE 1 MAIN LAYOUT */

/* SECTION CONTAINERS */

/* Some section containers have a background image or a -
 different background color. If they are commented out,
 they are colored by the body background color or other color. */

.root-section {
  background-color: var(--body-color);
  color: var(--light-text-color);
}

.header-section {
  background-color: var(--containers-color);
  height: auto;

  /* height: calc(var(--100px) + var(--10px)); */
}

.navbar-section {
  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: 150vh;
  animation-range-end: 180vh;

  /* background-color: var(--containers-color); */
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Change the HTML .util-container-(size) class if changing this size. */
.navbar-section .util-container-large {
  display: flex;

  /* justify-content: space-evenly, center, space-around, space-evenly, right; */
  justify-content: right;
  padding-right: var(--100px);

  /* align-items: center; */
}

.hero-section {
  background: url('/assets/bad_bandages2_hero.webp') no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: bottom;
  height: 85vh;

  .hero-content {
    width: 50%;
  }
}

.main-section {
  height: auto;
}

.villain-section {
  background-color: var(--containers-color);

  /* height: auto; */
}

.footer-section {
  /* background-color: var(--containers-color); */
  padding-top: var(--48px);
}

.footer-section input[type='email'] {
  /* caret-color: var(--important-color); */
  margin: var(--10px) 0;
  padding: var(--6px);
  width: 100%;
  &:focus-within {
    background-color: var(--accent-color);
  }
}
